#items_list{
    background-color: honeydew;
    margin: 10px;
    padding: 10px;
    margin-top: 50px;
}
.item_image{
    width: 100px;
    height: 100px;
    border-radius: 10%;
    margin: 5px;
    border-style: groove;
    border-color: white;
}
.title{
    width: 300px;
    margin:auto;
    
    height: 100px;
}
body{
    background-color: forestgreen;
    
}
#store_type{
    float: right;
    font-style: italic;
}
h1{
    text-align: center;
    margin: 0px;
}
h6, h5{
    text-align: center;
    margin-bottom: 0px;
}
.view-cart{
    float: right;
}
.nav{
    display: block;
    margin:auto;
    background-color: red;
    width: 90%;
}
.item {
    display: inline-block;
    background-color: blueviolet;
    margin: 10px;
}
.item_page_image{
    width: 50%;
    margin:auto;
}
.comment{
    width: 90%;
    height: 100px;
}