.demo{
    font-size: large;
    background-color: green;
    margin: 10px;
    border-radius: 5%;
    text-align: center;
    width: 90%;
}

.demo:hover{
    font-weight: bold;
}
p{
    display: inline;
}
.container{
    margin-bottom: 50px;
}
table{
    width: 100%;
}
@media only screen and (max-width: 600px) {
    table{
        width: 50%;
    }
}